<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>Edit Your Article</h1>
            <form method="POST" action='/articles/<%= "#{@article.id}" %>'>
                <label for="title">Title</lable><br></br>
                <textarea type="text" name="title"> <%= "#{@article.title}" %></textarea><br></br>
                <label for="content">Content</lable><br></br>
                <textarea type="text" name="content"> <%= "#{@article.content}" %></textarea><br></br>
                
                
                <input id="hidden" type="hidden" name="_method" value="PATCH">
                <input type="submit" value="submit">
            </form>
    </body>
</html>