<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>Create A New Article</h1>
        
            <form method="POST" action="/articles">
                <label for="title">Title</lable>
                <input type="text" name="title"><br></br>
                <label for="content">Content</lable>
                <input type="text" name="content"><br></br>

                <input type="submit" value="submit">
            </form>

    </body>
</html>