<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1><%= @article[:title] %></h1>
        <p><%= @article[:content] %></p>

        <form method="POST" action='/articles/<%= "#{@article.id}" %>'>
            <input id="hidden" type="hidden" name="_method" value="DELETE">
            <input type="submit" value="delete">
        </form>
    </body>
</html>